In [1]:
gagan = ['gagan', 'abhijeet']
gagan

['gagan', 'abhijeet']

In [2]:
gagan.insert(1,'rrrrr')

In [3]:
gagan

['gagan', 'rrrrr', 'abhijeet']

In [4]:
gagan.append('taraa')
gagan

['gagan', 'rrrrr', 'abhijeet', 'taraa']

In [5]:
gagan[2]

'abhijeet'

In [6]:
gagan[2] = 'eee1'
gagan

['gagan', 'rrrrr', 'eee1', 'taraa']

In [7]:
gagan.remove('eee1')

In [8]:
gagan

['gagan', 'rrrrr', 'taraa']

In [9]:
gagan.extend(['gaaasss','rrrrrrrr1'])
gagan

['gagan', 'rrrrr', 'taraa', 'gaaasss', 'rrrrrrrr1']

In [10]:
gagan[ :: 4]

['gagan', 'rrrrrrrr1']

In [11]:
gagan[1:]

['rrrrr', 'taraa', 'gaaasss', 'rrrrrrrr1']

In [12]:
gagan[: -1]

['gagan', 'rrrrr', 'taraa', 'gaaasss']

In [13]:
pop_aaa = gagan.pop(2)
pop_aaa

'taraa'

In [14]:
gagan

['gagan', 'rrrrr', 'gaaasss', 'rrrrrrrr1']

In [15]:
gagan.sort()

In [16]:
gagan

['gaaasss', 'gagan', 'rrrrr', 'rrrrrrrr1']

In [17]:
gagan.sort(reverse=True)

In [18]:
gagan

['rrrrrrrr1', 'rrrrr', 'gagan', 'gaaasss']

In [19]:
abhi = {'school':'srlhs','subject':['hindi','english','marathi'], 'marks': [91, 87,79]}
abhi

{'school': 'srlhs',
 'subject': ['hindi', 'english', 'marathi'],
 'marks': [91, 87, 79]}

In [20]:
type(abhi)

dict

In [21]:
abhi.values()

dict_values(['srlhs', ['hindi', 'english', 'marathi'], [91, 87, 79]])

In [22]:
abhi.keys()

dict_keys(['school', 'subject', 'marks'])

In [23]:
abhi.items()

dict_items([('school', 'srlhs'), ('subject', ['hindi', 'english', 'marathi']), ('marks', [91, 87, 79])])

In [24]:
abhi['marks'][2]

79

In [25]:
abhi['subject'][1].upper()

'ENGLISH'

In [26]:
abhi['marks'][2] +=23

In [27]:
abhi

{'school': 'srlhs',
 'subject': ['hindi', 'english', 'marathi'],
 'marks': [91, 87, 102]}

In [28]:
abhi['passingyear'] = 2017

In [29]:
abhi

{'school': 'srlhs',
 'subject': ['hindi', 'english', 'marathi'],
 'marks': [91, 87, 102],
 'passingyear': 2017}

In [30]:
age = [17,33,43,23,54,67,87,24,1,2,3,4,76,76,45,3,40]

for a in age:
    if a >=60:
        if a>=50:
            print('he is ad')
        
        else:
            ('soon to be ad')
        
    elif a > 30 and a <=50:
        print('He is an young guy')
        
        
    elif a > 14 and a <= 30:
        print('he is in growing face')
        
        
    else:
        ('he is minor')

he is in growing face
He is an young guy
He is an young guy
he is in growing face
he is ad
he is ad
he is in growing face
he is ad
he is ad
He is an young guy
He is an young guy

In [31]:
range(50)

range(0, 50)

In [32]:
list(range(0, 30 , 3))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [33]:
reverse = list(range(1600,-1,-100))
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200,
 100,
 0]

In [34]:
location = ['banglore','nagpur','haridwar','khatu']

for city in location:
    city == 'haridwar'
    print(city)
    continue

banglore
nagpur
haridwar
khatu

In [35]:
salary = [1222,3333,3333,11222,7000,80000]

for val in salary:
    if val >3333:
        print(val)

11222
7000
80000

In [36]:
for abc in range(2,5):
    print('multiplication table of =', abc)
    for a in range(0,11):
        print(abc * a)
        if a ==10:
            break

multiplication table of = 2
0
2
4
6
8
10
12
14
16
18
20
multiplication table of = 3
0
3
6
9
12
15
18
21
24
27
30
multiplication table of = 4
0
4
8
12
16
20
24
28
32
36
40

In [37]:
a = 0

while a < 20:
    a = (a + 1)
    print(a, 'aaaaa')

1 aaaaa
2 aaaaa
3 aaaaa
4 aaaaa
5 aaaaa
6 aaaaa
7 aaaaa
8 aaaaa
9 aaaaa
10 aaaaa
11 aaaaa
12 aaaaa
13 aaaaa
14 aaaaa
15 aaaaa
16 aaaaa
17 aaaaa
18 aaaaa
19 aaaaa
20 aaaaa

In [94]:
age = [17,33,43,23,54,67,87,24,1,2,3,4,76,76,45,3,40]

for a in enumerate(age ):
    print(a)

(0, 17)
(1, 33)
(2, 43)
(3, 23)
(4, 54)
(5, 67)
(6, 87)
(7, 24)
(8, 1)
(9, 2)
(10, 3)
(11, 4)
(12, 76)
(13, 76)
(14, 45)
(15, 3)
(16, 40)

In [39]:
location = ['banglore','nagpur','haridwar','khatu']

for name in location:
    if name =='haridwar':
        continue
    print(name)

banglore
nagpur
khatu

In [40]:
def gagan(*sudoo):
    for i in sudoo:
        print('i luv u sudoo' , i)

In [41]:
gagan(2019,2020,2021,2022, 'forever')

i luv u sudoo 2019
i luv u sudoo 2020
i luv u sudoo 2021
i luv u sudoo 2022
i luv u sudoo forever

In [42]:
import keyword

In [43]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [105]:
def gaga(**gg):
    for i in gg.items:
        print('aaaaaaa',i)

TypeError: 'builtin_function_or_method' object is not iterable

In [ ]:
s = 'this batch rocks'


s

In [ ]:
s[::2]

In [63]:
total_salary = lambda salary, i : salary - i
print(total_salary(26000,8000))

18000

In [64]:
age =lambda a ,b : a + b
print(age(45,54))

99

In [ ]:
def gagan(a,b):
    gagan_t= (a +b)
    
    if gagan_t >= 5:
        return gagan_t + 4
    
    else:
        print('aaa')

In [ ]:
print('aaaaaa' , gagan(5,1))

In [95]:
def gra_m(mark):
    if mark == 34:
        return(mark  + 2)
    elif mark == 33:
        return (mark + 2)
    else:
        return mark

In [96]:
score = [34,21,33,40,33,34,34]

In [97]:
total= list(map(gra_m,score))
print(total)

[36, 21, 35, 40, 35, 36, 36]

In [98]:
total= list(map(gra_m,score))
print(total)

[36, 21, 35, 40, 35, 36, 36]

In [99]:
def sal(fs):
    if fs ==26000:
        return (fs + 5000)
    elif fs == 25000:
        return (fs + 7000)
    elif fs<= 20000:
        return(fs+ 10000)
        
    else:
        return fs

In [100]:
salary = [26000,25000,12000,18000,22000]

In [101]:
total_sak = list(map(sal,salary))

In [102]:
total_sak

[31000, 32000, 22000, 28000, 22000]

In [ ]:
total_sa = list(filter(sal,salary))
total_sa

In [ ]:
total_sak

In [ ]:
def aa(eww):
    if eww <34:
        return eww

In [ ]:
ss = [12,34,35,65,34,23,76,23,34,12]

In [ ]:
total_d = list(filter(aa,ss))

In [ ]:
total_d

In [ ]:
 list(map(lambda aa: aa%20 == 21,[1,4,5,4,1,4]))

In [ ]:
list(filter(lambda aa: aa%20==21,[1,4,5,4,1,4]))

In [ ]:
ma =333333

def gagan():
    print('ina mina deekha', 11 + ma)
    
gagan()

In [ ]:
 print('ina mina deekha', 444444 + ma)

In [ ]:
name = input('enter your name = ' )

In [ ]:
bhai = input(' enter your name bhai ')
    
bhen = input(' enter your name bhen ')

total = bhai + bhen

print(' total f ' , total)

In [ ]:
salary = int(input(' enter your inhand salary ' ))

incentives = int(input('enter you incentive '))

shift_a = int(input('enter you shift allowance '))

inhand_sal = salary + incentives + shift_a

print('total salary =', inhand_sal)

In [ ]:
x = int(input('enter firt number'))

y = int(input('enter second number'))

print('befire swapping')
print('value of x:',x,'and y:',y)
x,y=y,x
print('after swapping')
print('value of x:',x,'and y:',y)

In [49]:
second_car(2021,12300,'honda')

In [117]:
second_car(2021,12200,'honda')

In [46]:
i = 0

while i < 20:
    i = i + 1
    print(i ,'gagan')

1 gagan
2 gagan
3 gagan
4 gagan
5 gagan
6 gagan
7 gagan
8 gagan
9 gagan
10 gagan
11 gagan
12 gagan
13 gagan
14 gagan
15 gagan
16 gagan
17 gagan
18 gagan
19 gagan
20 gagan

In [ ]:
def second_car(year, kilo, brand):
    if year == '2020':
        if 12000 > kilo <= 22000:
            if brand == 'honda':
                print('22333 to 222222')
            elif  barnd == 'ren':
                print('2222222 to 54334')
                    
            else:
                ('no stock valaible ')
                
        elif 23000 > kilo <=30000:
            if brand =='honda':
                print('543333 to 4378899')
            
            elif brand == 'ren':
                print('234323432 to 4543454345')
                
            else:
                print('no stock available')
                
        else:
            print('try after few days')
            
            
    elif year == 2021:
        if 12000 > kilo <= 12342:
            if brand =='honda':
                print('222222 to 6543445')
                     
            elif brand =='ren':
                print('222321 to 654454')
                
            else:
                print('not available')
                
    
    else:
        print('no car vaaliable for these year')

In [49]:
gagan = ['ssss','ssddd','swadc']

for a in gagan:
    if a =='ssddd':
        break
        print(a)

In [56]:
gagan = ['ssss','ssddd','swadc']

for a in gagan:
    if a =='ssddd':
        break
    print(a)

ssss

In [57]:
def a(dd):
    if dd ==1213:
        return (dd + 22)
    
    elif dd==1100:
        return (dd + 111)
    
    else:
        return dd

In [58]:
dddd= [1100,1121,1213,'wwwww']

In [59]:
list(map(a,dddd))

[1211, 1121, 1235, 'wwwww']

In [60]:
list(filter(a,dddd))

[1100, 1121, 1213, 'wwwww']

In [91]:
gagan = lambda a ,b: a+b
print(gagan(1,2))

3

In [93]:
 list(filter(lambda aa: aa%20 == 0,[1,4,5,4,1,4]))

[]

NameError: name 'b' is not defined

In [48]:
second_car(2021,12200,'honda' )c