In [8]:
i = 345632


if i > 345633:
    print ('gagan is greathter than 345633 ')

else:
    print('its something else')

its something else

In [9]:
a = 23333
b =34456
c = 554333

if a < b and b < c:
    print('both the confituions are true')
else:
    print("no matter what")

both the confituions are true

In [18]:
sal = 345653450999

if sal >= 345433456:
    if sal < 3454300000000756:
        print('they are satisfies with the job')
    
    else:
        print('they wanted hike in their salary')
        
        
elif sal > 300000 and sal<=34543356:
    print('thet expected promtion ')
    
    
else:
    print('they are not performing well')

they are satisfies with the job

In [19]:
print(range(23))

range(0, 23)

In [21]:
print(list(range(0,24 ,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [23]:
name = ['gagan','hhdhd', 'rtyyyytr', 'fddddd']

for var in name:
    print(var)

gagan
hhdhd
rtyyyytr
fddddd

In [4]:
money = [50000,49000,497655,45000]

for g in money:
    if g >= 4900:
        print(g)

50000
49000
497655
45000

In [45]:
sal = [45653450999,34556665,3434543,5434543456543,456778,777777777777777,5444444444]

for money in sal:
    if money >= 345433456:
        if money < 3454300000000756:
             print('they are satisfies with the job')
        else:
            print('they wanted hike in their salary')
        
    elif money > 300000 and money <=34543356:
        print('thet expected promtion ')
    
    
    else:
        print('they are not performing well')

they are satisfies with the job
they are not performing well
thet expected promtion
they are satisfies with the job
thet expected promtion
they are satisfies with the job
they are satisfies with the job

In [2]:
for num in range(2,4):
    print ('multiplicatin table of', num)
    for a in range(1,9):
        print(num * 1)
        if a == 20:
            break
            
            
            
else:
    print('end')

multiplicatin table of 2
2
2
2
2
2
2
2
2
multiplicatin table of 3
3
3
3
3
3
3
3
3
end

In [6]:
i = 0

while i < 20:
    i = i + 1
    print(i , 'gagan')

1 gagan
2 gagan
3 gagan
4 gagan
5 gagan
6 gagan
7 gagan
8 gagan
9 gagan
10 gagan
11 gagan
12 gagan
13 gagan
14 gagan
15 gagan
16 gagan
17 gagan
18 gagan
19 gagan
20 gagan

In [86]:
g = 0

while g < 20:
    g = g + 1
    print(i , 'gagan')

345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan
345632 gagan

In [7]:
a =0

while a <20:
    a = a + 1
    print(a,'gagan')

1 gagan
2 gagan
3 gagan
4 gagan
5 gagan
6 gagan
7 gagan
8 gagan
9 gagan
10 gagan
11 gagan
12 gagan
13 gagan
14 gagan
15 gagan
16 gagan
17 gagan
18 gagan
19 gagan
20 gagan

In [95]:
import time
result = time.localtime()
result

time.struct_time(tm_year=2022, tm_mon=11, tm_mday=2, tm_hour=7, tm_min=7, tm_sec=40, tm_wday=2, tm_yday=306, tm_isdst=0)

In [8]:
salary = [123432,5432345,232443,2345643]

for value in enumerate(salary):
    print(value)

(0, 123432)
(1, 5432345)
(2, 232443)
(3, 2345643)

In [99]:
value

(11, 2345643)

In [104]:
marks = [23,32,32,33,44,74,87,76]

for mark in marks:
    if mark > 80:
        if mark > 75:
            print('get distinction')
            
        else:
            print('very good')
            
    elif mark >= 44 and mark <70:
        print('performance in progress')
        
    else:
        print('you needs to work hard')

you needs to work hard
you needs to work hard
you needs to work hard
you needs to work hard
performance in progress
you needs to work hard
get distinction
you needs to work hard

In [107]:
mark = 76
if mark > 80:
    if mark > 75:
        print('get distinction')
            
    else:
            print('very good')
            
elif mark >= 44 and mark <70:
    print('performance in progress')
        
else:
    print('you needs to work hard')

you needs to work hard

In [11]:
gagan = ['eerddddddd' ,'dsdfvfd']
gagan

for name in enumerate (gagan , 4):
    print(name)

(4, 'eerddddddd')
(5, 'dsdfvfd')

In [110]:
gagan.append('gaggahaj')
gagan

['eerddddddd', 'dsdfvfd', 'gaggahaj']

In [112]:
gagan[1] = 'eeee'

In [113]:
gagan

['eerddddddd', 'eeee', 'gaggahaj']

In [114]:
gagan.insert(1,'g4444')
gagan

['eerddddddd', 'g4444', 'eeee', 'gaggahaj']

In [115]:
len(gagan)

4

In [116]:
gagan[2]

'eeee'

In [117]:
gagan[ : 2]

['eerddddddd', 'g4444']

In [118]:
gagan[1:]

['g4444', 'eeee', 'gaggahaj']

In [119]:
gagan = gagan + ['33333']
gagan

['eerddddddd', 'g4444', 'eeee', 'gaggahaj', '33333']

In [120]:
gagan2 = list(gagan)
gagan2

['eerddddddd', 'g4444', 'eeee', 'gaggahaj', '33333']

In [121]:
gagan.index('33333')

4

In [122]:
gagan.extend(['g33333','h46eweee'])

In [123]:
gagan

['eerddddddd', 'g4444', 'eeee', 'gaggahaj', '33333', 'g33333', 'h46eweee']

In [124]:
gagan.count('eeee')

1

In [125]:
gagan.remove('eeee')

In [126]:
gagan

['eerddddddd', 'g4444', 'gaggahaj', '33333', 'g33333', 'h46eweee']

In [127]:
pop_a = gagan.pop()
pop_a

'h46eweee'

In [128]:
pop_index = gagan.pop(0)

In [129]:
pop_index

'eerddddddd'

In [130]:
gagan.reverse()

In [131]:
gagan

['g33333', '33333', 'gaggahaj', 'g4444']

In [132]:
gagan.sort()

In [133]:
gagan

['33333', 'g33333', 'g4444', 'gaggahaj']

In [134]:
gagan.sort(reverse=True)

In [135]:
gagan

['gaggahaj', 'g4444', 'g33333', '33333']

In [136]:
salary = set()

In [137]:
type(salary)

set

In [139]:
salary.add(2333)
salary

{2333}

In [140]:
salary.add(2333)

In [141]:
salary

{2333}

In [142]:
remove_gagan = set(gagan)

In [143]:
gagan

['gaggahaj', 'g4444', 'g33333', '33333']

In [147]:
my_book = ['g': 1, 'j': 2]
my_book

SyntaxError: invalid syntax (2054783280.py, line 1)

In [13]:
my_book = {'gagan': [123,334,555,6666,6666] , 'd' : 2343}

In [14]:
my_book

{'gagan': [123, 334, 555, 6666, 6666], 'd': 2343}

In [15]:
my_book.keys()

dict_keys(['gagan', 'd'])

In [16]:
my_book.items()

dict_items([('gagan', [123, 334, 555, 6666, 6666]), ('d', 2343)])

In [17]:
my_book.value()

AttributeError: 'dict' object has no attribute 'value'

In [18]:
my_book['gagan'][1]

334

In [19]:
my_book['gagan'][2] +=36
my_book

{'gagan': [123, 334, 591, 6666, 6666], 'd': 2343}

In [20]:
my_book['ee'] = ['2222222','7777']

In [22]:
my_book

{'gagan': [123, 334, 591, 6666, 6666], 'd': 2343, 'ee': ['2222222', '7777']}

In [23]:
my_book

for name in enumerate (my_book):
    print(name)

(0, 'gagan')
(1, 'd')
(2, 'ee')

In [26]:
print(my_book)
print(salary)

{'gagan': [123, 334, 591, 6666, 6666], 'd': 2343, 'ee': ['2222222', '7777']}
[123432, 5432345, 232443, 2345643]

In [27]:
total_cost = list(zip(my_book,salary))
print(total_cost)

[('gagan', 123432), ('d', 5432345), ('ee', 232443)]

In [29]:
my_book, salary = zip(total_cost)

ValueError: too many values to unpack (expected 2)

In [53]:
emp_sal = [12334,33444,22334,22334,34500]

for amn in emp_sal:
    amn  <=['34500']
    continue
    print(amn)

TypeError: '<=' not supported between instances of 'int' and 'list'

In [38]:
print(amn)

34500

In [62]:
emp_sal = [12334,33444,22334,22334,34500]

for val in emp_sal:
        if val < 34500:
            break
            print(val)

In [67]:
for num in range(2,5):
    print("multi", num )    
for i in range  (1,11):
    print(num,'*', i, "is =", num*1 )
    i = i + 1

multi 2
multi 3
multi 4
4 * 1 is = 4
4 * 2 is = 4
4 * 3 is = 4
4 * 4 is = 4
4 * 5 is = 4
4 * 6 is = 4
4 * 7 is = 4
4 * 8 is = 4
4 * 9 is = 4
4 * 10 is = 4

In [100]:
sal = [1,2,3,4,5,6,7,8,9,10]


for val in sal:
    if val >= 10:
        break
        print(val)

In [101]:
print(val)

10

In [117]:
salary = [2000,3780,4200,5000,6000,7000]

for val in salary:
    if val > 680:
        continue
    print(val)

In [118]:
print(val)

7000