In [1]:
salary = [3333,2313,12344,3444,65443,60000]

for val in salary:
    if val > 5555:
        continue
    print(val)

3333
2313
3444

In [2]:
sal = [44556777,4455234,35556787,221233445,76543433]

for sal in sal:
    if sal > 4455677:
        if sal > 35556777:
            print('very good one')
                                            
    elif sal > 25553777 and sal < 15553777:
        print('pip')
        
    else:
         ('they all are fresheee')

very good one
very good one
very good one
very good one

In [3]:
list(range(0,12,2))

[0, 2, 4, 6, 8, 10]

In [4]:
reverse = list(range(1600,-100,100))
reverse

[]

In [5]:
city = ['hhhhh','ttredcv', 'hgfffggh']

for name in city:
    if name == 'ttredvc':
        continue
        print(name)

In [6]:
print(name)

hgfffggh

In [7]:
i = 0

while i < 20:
    i = i + 1
    continue
    print(1 , 'gagan')

In [8]:
i = 0

while i < 20:
    i = i + 1
    print(i , 'gagan')

1 gagan
2 gagan
3 gagan
4 gagan
5 gagan
6 gagan
7 gagan
8 gagan
9 gagan
10 gagan
11 gagan
12 gagan
13 gagan
14 gagan
15 gagan
16 gagan
17 gagan
18 gagan
19 gagan
20 gagan

In [9]:
def say_hello():
    print('this is just sample')

In [10]:
say_hello()

this is just sample

In [11]:
def girl_frnd(name):
    print('sudarshana' , name )

In [12]:
girl_frnd('sudoo')
girl_frnd('sheetal')
girl_frnd('alka')

sudarshana sudoo
sudarshana sheetal
sudarshana alka

In [13]:
def marks_s(scoredexam , projectes):
    total_marks = (scoredexam+ projectes)
    
    if total_marks > 35:
        total_marks + 15
        
    else:
        total_marks

In [14]:
print('total new marks =',marks_s(55,12))

total new marks = None

In [21]:
i = 81

while i < 91:
    i = i + 1
    
    print(i , 'data trained')

82 data trained
83 data trained
84 data trained
85 data trained
86 data trained
87 data trained
88 data trained
89 data trained
90 data trained
91 data trained