In [2]:
import sqlite3

In [3]:
name = sqlite3.connect("student_data.name")

In [4]:
cursor = name.cursor()

In [5]:
cursor.execute("create table student_deatil(phone_number int primary key ,student name text , enrolled_date int , marks int)")

name .commit()

OperationalError: table student_deatil already exists

In [6]:
curosr.execute("insert into student_deatil values(9812343767,'deepika', 'data base',1233333),(1232323444,'abhi','data analysit',12334444)")

name.commit()

NameError: name 'curosr' is not defined

In [7]:
result = cursor.execute("select * from student_deatil")
for r in result:
    print(r)

(9812323767, 'deepika', 'data base', 1233333)
(9812343767, 'deepika', 'data base', 1233333)
(1232323444, 'abhi', 'data analysit', 12334444)
(9988776604, 'Salah', '03-10-2020', 85)
(9988776605, 'Heung-Son', '21-06-2020', 39)
(9988776606, 'Ronaldo', '08-05-2020', 86)
(9988776607, 'Kane', '11-05-2022', 57)
(9988776608, 'Mane', '17-05-2022', 52)
(6609998877, 'Vardy', '17-12-2020', 54)
(6609998878, 'Jota', '06-11-2021', 45)
(6609998879, 'Bruyne', '26-11-2020', 49)
(6609998880, 'Zaha', '05-12-2020', 88)
(6609998881, 'Sterling', '29-10-2020', 61)
(9988776614, 'Toney', '31-03-2022', 71)
(9988776615, 'Maddison', '10-03-2020', 44)
(1687799866, 'Bowen', '14-02-2021', 96)
(1687799867, 'Saka', '19-12-2022', 92)
(1687799868, 'Watkins', '30-01-2021', 49)
(1687799869, 'Mount', '16-09-2022', 48)
(1687799870, 'Raphael', '15-05-2021', 50)
(1687799871, 'Mahrez', '30-10-2021', 72)
(9988776622, 'Pukki', '19-02-2021', 93)
(9988776623, 'Fernandes', '01-03-2022', 94)

In [8]:
with open("Students_details3.csv","r") as file:
    for r in file:
        cursor.execute("insert into student_deatil values (?,?,?,?) ", r.split(","))
    
    name.commit()
print(curosr.rowcount)

IntegrityError: UNIQUE constraint failed: student_deatil.phone_number

In [9]:
result = cursor.execute("select * from student_deatil")
for r in result:
    print(r)

(9812323767, 'deepika', 'data base', 1233333)
(9812343767, 'deepika', 'data base', 1233333)
(1232323444, 'abhi', 'data analysit', 12334444)
(9988776604, 'Salah', '03-10-2020', 85)
(9988776605, 'Heung-Son', '21-06-2020', 39)
(9988776606, 'Ronaldo', '08-05-2020', 86)
(9988776607, 'Kane', '11-05-2022', 57)
(9988776608, 'Mane', '17-05-2022', 52)
(6609998877, 'Vardy', '17-12-2020', 54)
(6609998878, 'Jota', '06-11-2021', 45)
(6609998879, 'Bruyne', '26-11-2020', 49)
(6609998880, 'Zaha', '05-12-2020', 88)
(6609998881, 'Sterling', '29-10-2020', 61)
(9988776614, 'Toney', '31-03-2022', 71)
(9988776615, 'Maddison', '10-03-2020', 44)
(1687799866, 'Bowen', '14-02-2021', 96)
(1687799867, 'Saka', '19-12-2022', 92)
(1687799868, 'Watkins', '30-01-2021', 49)
(1687799869, 'Mount', '16-09-2022', 48)
(1687799870, 'Raphael', '15-05-2021', 50)
(1687799871, 'Mahrez', '30-10-2021', 72)
(9988776622, 'Pukki', '19-02-2021', 93)
(9988776623, 'Fernandes', '01-03-2022', 94)

In [10]:
result = "select * from student_deatil where marks > 50 and phone_number =687799869 "
results = cursor.execute(result)
for r in results:
    print(r)

In [11]:
result= cursor.execute("select * from student_deatil order by marks desc")
for r in result:
    print(r)

(1232323444, 'abhi', 'data analysit', 12334444)
(9812323767, 'deepika', 'data base', 1233333)
(9812343767, 'deepika', 'data base', 1233333)
(1687799866, 'Bowen', '14-02-2021', 96)
(9988776623, 'Fernandes', '01-03-2022', 94)
(9988776622, 'Pukki', '19-02-2021', 93)
(1687799867, 'Saka', '19-12-2022', 92)
(6609998880, 'Zaha', '05-12-2020', 88)
(9988776606, 'Ronaldo', '08-05-2020', 86)
(9988776604, 'Salah', '03-10-2020', 85)
(1687799871, 'Mahrez', '30-10-2021', 72)
(9988776614, 'Toney', '31-03-2022', 71)
(6609998881, 'Sterling', '29-10-2020', 61)
(9988776607, 'Kane', '11-05-2022', 57)
(6609998877, 'Vardy', '17-12-2020', 54)
(9988776608, 'Mane', '17-05-2022', 52)
(1687799870, 'Raphael', '15-05-2021', 50)
(6609998879, 'Bruyne', '26-11-2020', 49)
(1687799868, 'Watkins', '30-01-2021', 49)
(1687799869, 'Mount', '16-09-2022', 48)
(6609998878, 'Jota', '06-11-2021', 45)
(9988776615, 'Maddison', '10-03-2020', 44)
(9988776605, 'Heung-Son', '21-06-2020', 39)

In [24]:
result = "select * from student_deatil where phone_number =1687799869 and marks > 50 "
sql = cursor.execute(result)
for r in sql:
    print(r)

(1687799869, 'Mount', '16-09-2022', 100)

In [34]:
update = "update student_deatil set  marks = 45 where phone_number = 988776605"
cursor.execute(update)

In [35]:
update = "select * from student_deatil where phone_number = 988776605 "
result = cursor.execute(update)
for r in result:
    print(r)

In [32]:
update = "update student_deatil set marks = 100 where phone_number in (1687799869,9988776607,6609998878)"
cursor.execute(update)

In [33]:
reult = cursor.execute("select phone_number , marks from student_deatil where phone_number in(1687799869,9988776607,6609998878) ")
for r in reult:
    print(r)

(1687799869, 100)
(6609998878, 100)
(9988776607, 100)